@font-face {
    font-family: "Montserrat";
    src: url(/font-montserrat/Montserrat-VariableFont_wght.ttf);
  }

body {
    margin: 0;
    font-family: 'Montserrat';
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

.navIcon {
    width: 16px;
}

#likeIcon:hover {
    cursor: pointer;
}

.pokemonDetailView {
    height: calc(100vh - 80px);
    padding: 40px 24px;
}

.headerDetailView {
    color: white;
}

.navHeaderDetailView {
    display: flex;
    justify-content: space-between;
}

#pokemonSearch {
    border-radius: 12px 0 0 12px;
    border: none;
    padding: 4px 16px;
}

.navHeaderDetailView button {
    height: 23px;
    border: none;
    background-color: rgb(20, 20, 20);
    color: white;
    border-radius: 0 12px 12px 0;
    width: 64px;
}

.navHeaderDetailView button:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.pokemonHeaderInfo {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#pokemonTypes {
    display: flex;
    gap: 8px;
}

.pokemonType {
    background-color: rgb(60, 60, 60);
    padding: 8px 16px;
    border-radius: 20px;
}

#mainPokemonImage {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 375px;
    margin-left: -187.5px;
    margin-top: -250px;
}

.pokemonInfoAreaDetailView {
    height: 50vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 32px 32px 0 0;
    width: calc(100% - 48px);
    padding: 0 24px;
}

.infoNavArea {
    padding-top: 96px; 
}

.infoNavPoints {
    display: flex;
    justify-content: space-around;
}

.infoNavPoints span {
    padding-bottom: 16px;
    border-bottom: solid 1px rgba(80, 80, 80, 0.2);
    flex: 1;
    text-align: center;
    color: rgba(80, 80, 80, 0.6);
    display: block;
    z-index: 5;
}

.infoNavPoints span:hover {
    cursor: pointer;
    color: blueviolet !important;
    border-bottom: solid 1px blueviolet !important;
}

.active {
    color: blueviolet !important;
    border-bottom: solid 1px blueviolet !important;
}

#infoAreaDetails {
    gap: 8px;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.detailContainer {
    display: flex;
}

.detailName {
    color: rgba(80, 80, 80, 0.9);
    width: 150px;
}

@media(max-height: 800px) {
    #mainPokemonImage {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        width: 250px;
        margin-left: -125px;
        margin-top: -150px;
    }
}

@media(min-width: 600px) {
    .pokemonHeaderInfo {
        align-items: center;
        margin-top: 40px;
    }

    h1 {
        font-size: 48px;
    }

    #mainPokemonImage {
        width: 600px;
        margin-left: -300px;
        margin-top: -430px;
    }

    .pokemonInfoAreaDetailView {
        max-width: 600px;
        left: 50%;
        margin-left: -324px;
    }

    #infoAreaDetails {
        padding-top: 24px;
        align-items: center;
    }

    .detailValue {
        width: 100px;
    }
}